  <div class="contentright">
    <h2>Announcements</h2>
     <p>You can use our web irc client to help get you started. If you are looking for help with the wargames, check out the <%= link_to "wargames", wargames_path %> 
      page. There is a link next to each game to direct you to the appropriate #channel for help.</p>
    <p>Also, don't forget to check out <%= link_to "AMATERIA", url_for("/wargames/amateria") %> created by kaliman. It has some tasty treats 
      for all you intermediate and advanced wargamers. So give it a try and make amateria feel welcome at her new home.</p>
    <h2>Coming Soon...</h2>
    <p><span>We are also working on a web interface for blowfish complete with scoreboard</span></p>
  </div>
