<div id="content">

<h2 style="color:#80a630">Contact Us?</h2><br/>
<p>Got a question or a suggestion for us? Maybe you have a level you would like to submit for a wargame. Send an email to staff@smashthestack.org</p>
</div>
