<div id="footer">
  <div id="footerlinks">&copy;2002-<%= Time.now.year %> <%= link_to "smashthestack.org", root_path %>&nbsp;&middot;&nbsp;<%= link_to "disclaimer", disclaimer_path, class: "green" %><span class="footerright"><%= link_to image_tag('hacker.png'), "http://www.catb.org/~esr/faqs/hacker-howto.html" %></span></div>
</div>
